<div class="green-card">
<h2>Nom de l'établissement</h2>
<%= @etablissement.raison_sociale %>
<h3>Numéro de téléphone</h3>
<%= @etablissement.telephone %>
<h3>Adresse</h3>
<%= @etablissement.adresse %>
<h3>Date de mise à jour</h3>
<%= @etablissement.date_maj%>
<h3>Status</h3>
<%= @etablissement.status%>
</div>
