
<%= link_to 'Back', prospect_form_path %>

<div class="container">
<div class="greener-card">
  <h2> Informations de Contact</h2>
  <%= @prospect_form.email %>

  <%= @prospect_form.telephone %>

  <%= @prospect_form.revenu_mensuel_mini  %>

<h3>Date de la fiche</h3>
  <%= @prospect_form.created_at %>
</div>

</div>

<h3>Etablissements proches</h3>
<% @etablissements_proches.each do |e|  %>
<div class="greener-card">
<p><strong><%= e.raison_sociale %></strong></p>
<p>Adresse: <%= e.adresse%></p>
<p>Téléphone: <%= e.telephone%></p>
<% if @prospect_form.revenu_mensuel_mini %>
<p>Prix minimum: <%= e.prix_minimum %></p>
<% else %>
<p>Prix minimum vu la situation de la personne:</p>
<p><%= e.prix_fonction_gir(@prospect_form.echelle_gir)%> €</p>
<% end %>

<%= link_to 'Voir l’Établissement', etablissement_path(e), class:"btn btn-success m-3" %>

</div>
<% end %>
