
<div class="container">
<%= simple_form_for @prospect_form do |f| %>

<h3 class="quizz-part-title text-center pt-5" >Contact</h3>
<%# Informations de contact du demandeur %>
<div class="green-card">
  <%= f.input :email, as: :email %>
  <%= f.input :telephone %>
</div>

<h3 class="quizz-part-title text-center">Critères géographiques</h3>
<%# critère géographique %>
<div class="green-card">
<%= f.input :adresse_de_recherche, label: 'Lieu de recherche', input_html: {data: { target: "address-autocomplete.adresseDeRecherche", address_autocomplete_target: ":adresse_de_recherche"}, class:"d-none" },
                wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}} %>

                <%# demander si c'est la même ville? %>
  <%= f.input :rayon_de_recherche, as: :radio_buttons, collection: ['1 km', '3 km','5 km', '10 km', '20 km', '50 km', '100 km'] %>
</div>

<h3 class="quizz-part-title text-center">Critères concernant l'établissement</h3>
<%# Etablissement %>
<div class="green-card">
  <%= f.input :nombre_de_places, as: :radio_buttons, collection: [1,2] %>
  <%= f.input :services_indispensables, as: :check_boxes, collection: ['Soins médicaux', 'Activités', 'Sorties', 'Accueil de jour'] %>
  <%= f.input :services_souhaites, label:"Services souhaités", as: :check_boxes, collection: ['Piscine', 'Jardin', 'Salon de coiffure', 'Restaurant'] %>
  <%= f.input :type_de_residence,label:"Type de résidence", as: :check_boxes, collection: ['Autonome', 'Semi-autonome', 'Non-autonome'] %>
  <%= f.input :confession_de_la_residence, label:"Confession de la résidence", as: :check_boxes, collection: ['Catholique', 'Protestante', 'Juive', 'Musulmane', 'Non confessionnelle'] %>
  <%= f.input :interets_pour_sorties,label:"Intérêts pour les sorties", as: :check_boxes, collection: ['Culturelles', 'Récréatives', 'Shopping', 'Nature'] %>
  <%= f.input :interets_pour_activites,label:"Intérêts pour les activités", as: :check_boxes, collection: ['Peinture', 'Jardinage', 'Lecture', 'Jeux de société'] %>
  </div>

<h3 class="quizz-part-title text-center">Critères de confort</h3>
<%# confort individuel %>
  <div class="green-card">
  <%= f.input :type_de_chambre,as: :radio_buttons, collection: ['Individuelle', 'Double', 'Suite', 'Sans préférence'] %>
  <%= f.input :animal_de_compagnie,as: :radio_buttons, collection: ['Oui', 'Non'] %>
  <%= f.input :besoins_alimentaires, as: :check_boxes, collection: ['Sans sel', 'Sans sucre', 'Végétarien', 'Végétalien'] %>
  <%= f.input :meubles_et_objets_personnels, as: :radio_buttons,  collection: ['Oui', 'Non'] %>
  <%= f.input :besoins_spécifiques_aménagement,label:"Aménagements spécifiques", as: :check_boxes,  collection: ['Accès fauteuil roulant', 'Barres d’appui', 'Lit médicalisé'] %>
  </div>

<%# Medical %>
<%# Medical %>
<h3 class="quizz-part-title text-center">Critères médicaux</h3>
<div class="green-card" data-controller="connaissance-gir">
 <%= f.input :connaissance_gir, as: :radio_buttons, collection: [['Oui', true], ['Non', false]], label: "Connaissez-vous le GIR de la personne?", input_html: { data: { connaissance_gir_target: "knowsGir", action: "connaissance-gir#toggleGirVisibility" } } %>

  <div id="gir_selection" style="display:none;" data-connaissance-gir-target="girSelection">
    <%= f.input :echelle_gir,label:"Échelle GIR", as: :radio_buttons, collection: ['GIR 1', 'GIR 2', 'GIR 3', 'GIR 4', 'GIR 5', 'GIR 6'] %>
  </div>

  <div id="gir_description" style="display:none;" data-connaissance-gir-target="girDescription">
 <%= f.input :echelle_gir,
label:"Échelle GIR",
collection: [
['Personne encore autonome dans les actes de la vie courante', 'GIR 6'],
['Personne ayant seulement besoin d\'une aide ponctuelle pour la toilette, la préparation des repas et le ménage', 'GIR 5'],
['Personne n\'assumant pas ses transferts mais qui une fois levée peut se déplacer à l\'intérieur de son logement et a besoin d\'aide pour la toilette et l\'habillage ou personne n\'ayant pas de problèmes locomoteurs mais qui doit être aidée pour les soins corporels et les repas', 'GIR 4'],
['Personne ayant conservé son autonomie mentale, partiellement son autonomie locomotrice, mais qui a besoin quotidiennement et plusieurs fois par jour d\'une aide pour les soins corporels', 'GIR 3'],
['Personne confinée au lit ou au fauteuil, dont les fonctions mentales ne sont pas totalement altérées et dont l\'état exige une prise en charge pour la plupart des activités de la vie courante, ou personne dont les fonctions mentales sont altérées, mais qui est capable de se déplacer et qui nécessite une surveillance permanente', 'GIR 2'],
['Personne confinée au lit ou au fauteuil dont les fonctions mentales sont gravement altérées et qui nécessite une présence indispensable et continue d\'intervenants', 'GIR 1'],
['Je ne sais pas']
],
as: :radio_buttons,
label_method: :first,
value_method: :last
%>

  </div>


  <%= f.input :etat_de_sante,label: "État de santé",  as: :radio_buttons,  collection: ['Bon', 'Moyen', 'Faible'] %>
  <%= f.input :conditions_medicales_particulieres, label: "Conditions médicales particulières"%>
  <%= f.input :maladie_degenerative,label:"Maladie dégénérative",  as: :radio_buttons, collection: ['Oui', 'Non'] %>
  </div>

<%# Visites %>
<h3 class="quizz-part-title text-center">Critères des visites</h3>
  <div class="green-card">
  <%= f.input :fréquence_des_visites, as: :radio_buttons, collection: ['Quotidiennes', 'Hebdomadaires', 'Mensuelles','Pas de visiteur'] %>
  <%= f.input :besoins_spécifiques_visiteurs,  as: :check_boxes, collection: ['Accès handicapé', 'Parking', 'Horaires flexibles'] %>
  </div>

  <%# Finance et dossier %>
  <h3 class="quizz-part-title text-center">Critères administratifs</h3>
  <div class="green-card">
  <%= f.input :etat_du_dossier_administratif,label:"État du dossier administratif", as: :radio_buttons, collection: ['Complet', 'Incomplet', 'Non commencé'] %>
  <%= f.input :budget_mensuel,label:"Budget mensuel maximum", collection: 1000.step(5000, 500) %>
  <%= f.input :aides_financieres_déjà_obtenues_ou_en_cours,label:"Aides financières déjà obtenues ou en cours",as: :check_boxes, collection: ['APA', 'Aide sociale', 'PCH', 'CAF', 'Ne sais pas'] %>
  <%= f.input :aides_financieres_a_demander,label:"Aides financières à demander",as: :check_boxes, collection: ['APA', 'Aide sociale', 'PCH', 'CAF', 'Ne sais pas'] %>
  <%= f.input :commentaires %>
  </div>

<div class="d-flex justify-content-center">
  <%= f.button :submit , "Suivant", class:"btn btn-yellow mb-5 px-5" %>
</div>
<% end %>
</div>
</form>
